<div id="container-interface-header">
    <form class="reset-this grid-form" id="baseline-form">
        <div class="reset-this grid-form-header">
            <h1 class="reset-this">Baseline grid</h1>
            <input class="reset-this" type="checkbox" id="baseline-toggle" name="baseline-toggle">
            <label class="reset-this grid-form-label" for="baseline-toggle" id="label-baseline-toggle">See</label>
        </div>
        <div class="reset-this grid-form-values-group" id="size-baseline-form">
            <label class="reset-this" for="size-baseline">Size (px)</label>
            <input class="reset-this" type="number" id="size-baseline" name="size-baseline" min="1" max="100"
                value="12">
            <label class="reset-this" for="position-baseline" id="label-position">Position (px)</label>
            <input class="reset-this" type="number" id="position-baseline" name="position-baseline" value="0">
        </div>
    </form>
    <form class="reset-this grid-form" id="marginbox-form">
        <div class="reset-this grid-form-header">
            <h1 class="reset-this">Margin boxes</h1>
            <input class="reset-this" type="checkbox" id="marginbox-toggle" name="marginbox-toggle">
            <label class="reset-this grid-form-label" for="marginbox-toggle" id="label-marginbox-toggle">See</label>
        </div>
    </form>
    <p class="reset-this"><span id="nrb-pages" class="reset-this"></span> pages</p>
    <div class="reset-this header-group" class="group-buttons">
        <form class="reset-this" id="preview-form">
            <input class="reset-this" type="checkbox" id="preview-toggle" name="preview-toggle">
            <label class="reset-this" for="preview-toggle" id="label-preview-toggle">
                <img src="assets/icons/icon-preview.svg">
            </label>
        </form>
        <button class="reset-this" id="button-print" onclick="window.print()" data-ready="false" data-text="Print">
            <img src="assets/icons/icon-printer.svg">
        </button>
    </div>
</div>