.reset-this {
  animation: none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font: normal;
  font-family: inherit;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  /* May need to alter quotes for different locales (e.g fr) */
  quotes: "\201C""\201D""\2018""\2019";
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  width: auto;
  word-spacing: normal;
  z-index: auto;
  /* basic modern patch */
  all: initial;
  all: unset;
}

/* basic modern patch */

#interface-header {
  all: initial;
}
#interface-header * {
  all: unset;
}


[data-id="overlay"] .container-interface-header{
  text-align: left;
  margin-top: 30px;
}




[data-id="overlay"] .grid-form, 
[data-id="overlay"] .group-button{
 
  margin: 1em;
  margin-bottom: 2em;
 
  border-bottom: 2px solid var(--color-border);
 
  display: block;
  width: calc(100% - 2em);
  padding-bottom: 1em;

}


[data-id="overlay"] .grid-form .grid-form-header{
  display: flex;
  padding-bottom: 1em;
  justify-content: space-between;
  align-items: center;
}

[data-id="overlay"] .grid-form h1{
  font-weight: bold;
  /* font-size: 1.2em; */
}


[data-id="overlay"] .grid-form .grid-form-header label{
  border: 1px solid currentColor;
  padding: 0.2ch;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  width: 6ch;
  text-align: center;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: white;
}

[data-id="overlay"] .grid-form .grid-form-header label:hover{
  color: var(--color-hover);
}


[data-id="overlay"] .grid-form .grid-form-values-group{
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 1em;

}

[data-id="overlay"] .grid-form .grid-form-values-group label{
  /* font-size: 0.8em; */


}


[data-id="overlay"] input[type="number"]{
  border: 1px solid #cfcfcf;
  background-color: white;
  margin-bottom: 1em;
  padding-left: 0.5ch;
}

.group-nrb-pages{
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  margin-bottom: -3.5em;
 
}


[data-id="overlay"] .group-button form,
[data-id="overlay"] .group-button label{
  margin: 0;
  line-height: 0;

}

[data-id="overlay"] .group-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

[data-id="overlay"] .group-button form,
[data-id="overlay"] .group-button button{
  border: 1px solid currentColor;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  padding: 0.5em;
  margin-left: 1em;
  cursor: pointer;
  background-color: white;
 

}

[data-id="overlay"] .group-button form:hover,
[data-id="overlay"] .group-button button:hover{
  background-color: var(--color-hover);
}



[data-id="overlay"] img{
  width: 100%;
  height: 100%;
  object-fit: content;
}


[data-id="overlay"] ul button{
  
  background-color: var(--color-border);
  color: white;
  font-family: "IBM Plex Mono";
  border: none;
  padding: 1em 2em;
  width: calc(100% - 2em);
  margin: 0 1em;
  margin-top: -1em;

}